mat-toolbar {
    margin-bottom: 24px;
    width: 100%;

    .navbar-container {
        display: flex;
    }

    mat-form-field {
        margin-left: 26px;
        margin-top: 26px;
    };
}

::ng-deep .mat-form-field-flex  {
    background-color: #fafafa !important;
    color: black;
    font-size: 14px;
}

