<mat-toolbar color="primary">
    <button mat-button routerLink="/">
        <span>CGRS</span>
    </button>
    <span style="flex: 1 1 auto;"></span>
    <div *ngIf="currentUser" class="navbar-container">
        <button mat-button routerLink="/category">
            <span>Category</span>
        </button>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Navbar menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logOut()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Log out</span>
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>