<mat-toolbar color="primary">
    <button mat-button routerLink="/">
        <span>CGRS</span>
    </button>
    <form>
        <mat-form-field appearance="fill">
            <input
                matInput
                placeholder="Search game"
                aria-label="Search game"
                type="text"
                [formControl]="gameSearchControl"
                [matAutocomplete]="auto"
            >
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="goToGamePage($event)">
                <mat-option *ngFor="let game of gameNames" [value]="game">{{ game.name }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <button *ngIf="currentUser" class="recommend-button" mat-button routerLink="/recommend">
        <span>Recommended Games</span>
    </button>
    <span style="flex: 1 1 auto;"></span>
    <div *ngIf="currentUser" class="navbar-container">
        <button *ngIf="currentUser.role !== roles.User" mat-button routerLink="/category">
            <span>Category</span>
        </button>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Navbar menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logOut()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Log out</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div *ngIf="!currentUser" class="navbar-container">
        <button mat-button routerLink="/login">
            <span>Sign In</span>
        </button>
    </div>
</mat-toolbar>