<div class="page-container" *ngIf="gameData">
    <div class="buttons-container" *ngIf="currentUser">
        <div style="flex: 1 1 auto;"></div>
        <button color="primary" mat-raised-button (click)="openGameMarkModal()">
            {{ gameData.userGameMark ? 'Change' : 'Add' }} game mark
        </button>
        <div *ngIf="currentUser.role !== roles.User">
            <button color="primary" mat-raised-button (click)="editGame()">
                Edit Game
            </button>
        </div>
    </div>
    <div class="game-info">
        <mat-card>
            <mat-card-header>
               <mat-card-title-group>
                    <mat-card-title>
                        <h1>{{ gameData.name }}</h1>
                        <mat-chip-list *ngIf="gameData.averageScore" class="score-chip">
                            <mat-chip [style.background-color]="getScoreColor()">
                                <span>{{ gameData.averageScore }}</span>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <mat-chip-list>
                            <mat-chip>
                                <span>{{ gameData.category.name }}</span>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-card-subtitle>
               </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <span>{{ gameData.description }}</span>
            </mat-card-content>
            <mat-card-content *ngIf="gameData.gameTags.length > 0">
                <mat-chip-list>
                    <mat-chip *ngFor="let gameTag of gameData.gameTags">
                        <span>{{ gameTag.name }}</span>
                    </mat-chip>
                </mat-chip-list>
            </mat-card-content>
         </mat-card>
    </div>

    <app-game-comments-panel [gameId]="gameData.id" [currentUser]="currentUser" [gameComments]="gameData.gamesComments" (refresh)="refresh()"></app-game-comments-panel>
</div>
