<div class="page-container" *ngIf="gameData">
    <div class="buttons-container" *ngIf="currentUser">
        <div style="flex: 1 1 auto;"></div>
        <button color="primary" mat-raised-button (click)="openGameMarkModal()">
            {{ gameData.userGameMark ? 'Change' : 'Add' }} game mark
        </button>
        <div *ngIf="currentUser.role !== roles.User">
            <button color="primary" mat-raised-button (click)="editGame()">
                Edit Game
            </button>
        </div>
    </div>
    <div>
        <p>{{ gameData.name }}</p>
        <p>{{ gameData.description }}</p>
    </div>
</div>
