@import '~@angular/material/theming';

mat-card {
    margin: 5px;
}

.clickable:hover {
    @include mat-elevation(8);
    cursor: pointer;
}

::ng-deep .mat-card-header-text {
    margin: 0 !important;
}

mat-card-header {
    margin-bottom: 8px;
}
