@import '~@angular/material/theming';

.categories-list__container {
    width: 90%;
    margin: 0 5% 0 5%;
    
    .add-button-container {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 24px;
    }

    table {
        @include mat-elevation(8);
        width: 100%;
        background-color: white;

        th {
            font-weight: bold;
            font-size: 16px;
        }

        .mat-column-name {
            width: 25%
        }

        .mat-column-description {
            width: 65%
        }

        .mat-column-action-buttons {
            width: 10%
        }

        .mat-column-status {
            padding-right: 10px;
        }
    }
}

.mat-success {
    color: green;
}