<div class="login-container">
   <form class="form-group" [formGroup]="passwordForm">
       <mat-form-field appearance="fill">
           <mat-label>Old password</mat-label>
           <input type="password" matInput class="form-control" required formControlName="oldPassword">
           <mat-error *ngIf="passwordFormControl.oldPassword.touched && passwordFormControl.oldPassword.errors?.required ">
               Password is <strong>required</strong>
           </mat-error>
       </mat-form-field>
       <mat-form-field appearance="fill">
         <mat-label>New password</mat-label>
         <input type="password" matInput class="form-control" required formControlName="newPassword">
         <mat-error *ngIf="passwordFormControl.newPassword.touched && passwordFormControl.newPassword.errors?.required ">
             Password is <strong>required</strong>
         </mat-error>
     </mat-form-field>
       <button type="submit" mat-raised-button color="primary" [disabled]="!passwordForm.valid" (click)="saveChanges()">Save</button>
   </form>
</div>