form {
   width: 40%;
   margin: 100px 30% 0 30%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;

   .button-container {
       margin-top: 16px;
       width: 100%;
       display: flex;
       column-gap: 16px;
   }

   mat-form-field, button {
       width: 100%;
   }

   .mat-form-field-invalid {
       margin-bottom: 5px;
   }
}