<div class="container">
    <form class="form-group" [formGroup]="gameForm">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput class="form-control" required formControlName="name">
            <mat-error *ngIf="gameFormControl.name.touched && gameFormControl.name.errors?.required ">
                Game name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea type="text" matInput class="form-control" required formControlName="description"></textarea>
            <mat-error *ngIf="gameFormControl.description.touched && gameFormControl.description.errors?.required ">
                Description is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId" required>
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{ category.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="gameFormControl.description.touched && gameFormControl.description.errors?.required ">
                Category is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field  appearance="fill">
            <mat-label>Tags</mat-label>
            <mat-chip-list #tagList aria-label="Tags selection">
                <mat-chip *ngFor="let tag of selectedTags" (removed)="removeTag(tag)">
                    {{ tag.name }}
                    <button matChipRemove [attr.aria.label]="'remove ' + tag">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-list>
            <input
                placeholder="New tag..."
                #tagInput 
                [formControl]="tagCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="tagList" 
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addTag($event)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                    {{ tag.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-checkbox formControlName="isAdultOnly">Is adult only</mat-checkbox>
        <div class="button-container">
            <button type="submit" color="primary" mat-raised-button [disabled]="!gameForm.valid" (click)="onSubmit()">{{isEditMode ? 'Save changes' : 'Add new'}}</button>
            <button mat-raised-button (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>