<div class="login-container">
    <form class="form-group" [formGroup]="loginForm">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput class="form-control" required email formControlName="email">
            <mat-error *ngIf="loginFormControl.email.touched && !loginFormControl.email.errors?.required && loginFormControl.email.errors?.email">
                Please enter a valid email adress
            </mat-error>
            <mat-error *ngIf="loginFormControl.email.touched && loginFormControl.email.errors?.required ">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput class="form-control" required formControlName="password">
            <mat-error *ngIf="loginFormControl.password.touched && loginFormControl.password.errors?.required ">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="logIn()">Log In</button>
        <a routerLink="../reset-password" class="btn btn-link">Forgot password?</a>
    </form>
    <button type="submit" mat-raised-button color="accent" routerLink="../register">Create new account</button>
</div>