
<div class="container">
    <h1>{{ isEditMode ? 'Edit ' : 'Add' }} game mark</h1>
    <form class="form-group" [formGroup]="gameMarkForm">
        <mat-form-field appearance="fill">
            <mat-label>Score</mat-label>
            <input type="number" min="1" max="100" matInput class="form-control" required formControlName="score">
            <mat-error *ngIf="gameMarkFormControl.score.touched && gameMarkFormControl.score.errors?.required ">
                Score is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <div class="buttons-container">
            <button type="submit" color="primary" mat-raised-button [disabled]="!gameMarkForm.valid" (click)="onSubmit()">Save</button>
            <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>